@charset "UTF-8";

.assignment{
	float: right;
}
.canuse{
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: .8em;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	border-radius: 3px;
		color:  #38a4ff;
		border: 1px solid #38a4ff;
		background: #ffffff;

}
.using{
	display: inline-block;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: .8em;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	border-radius: 3px;
		color: #ffffff;
		background: #f44a40;
		border: 1px solid transparent;

}
.seatdoor{
	/*genric-btn default arrow*/
	display: inline-block;
	outline: none;
	line-height: 40px;
	padding: 0 30px;
	font-size: .8em;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
		color: #000000;
		background: #f9f9ff;
		border: 1px solid transparent;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-left: 10px;
}
.floorbtn {
	text-align: center;
	margin: 30px;
}
.seattable{
	overflow-x: auto;
	margin: 30px auto;
}
.seatline{
	margin: 10px;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
}